/* You can add custom styles here. */

// @import "plugins/numbered";

body {
  color: #24292ff7;
  font-weight: normal;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  letter-spacing: normal;
}

h2 {
  font-weight: bold;
}

.markdown {
  font-size: 16px;
  h1 {
    margin-bottom: 1rem;
  }
  h2 {
    padding-bottom: 10px;
    margin-bottom: 0.8rem;
    border-bottom:  solid 1px #d0d7de;
  }
  em {
    font-weight: normal;
  }
}

footer {
  margin-top: 2rem;
  line-height: 1.5rem;
  text-align: right;
  address {
    border-top: solid 1px #eee;
    text-align: center;
    padding-top: 2rem;
    margin: 1rem 0;
  }
}

.book-menu .book-menu-content, .book-page, .book-toc .book-toc-content {
  padding-top:1.5rem;
}

code {
  word-break: break-all
}

table {
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
